
 <section class="w-[95%] mx-auto shadow rounded p-5 border">
      <h1 class="text-center text-[#41729E] font-bold  py-5 text-[30px]  "> WishList </h1>
   
      <div class="flex justify-between items-center">
       
        <!-- <button  class="text-end text-white px-6 py-1 rounded bg-red-950   font-bold  text-[10px]  ">Clear Cart </button> -->
      </div>
       
      
      @for (item of wishlists; track item.id) 
      {
        
        <div class="grid md:grid-cols-[10%_minmax(0,1fr)] border-b  mb-6 mt-6">
    
            <div>
                <img  [src]="item.imageCover"  class="w-full h-[100px] rounded-lg" alt="">
            </div>
    
            <div class="flex justify-between items-center ">
                <div>
                    <h1 class="p-2 text-center font-bold text-[#ffafcc]">Products</h1>
                    <br>
                    <h3 class="text-center text-[#41729E] text-[10px] font-bold">{{item.title.split(' ',2).join(' ')}}</h3>
                </div>
                <div>
                    <h1 class="p-2 text-center font-bold text-[#ffafcc]">Price</h1>
                    <br>
                    <h3 class="text-center text-[#41729E] text-[10px] font-bold">{{item.price |currency:'GBP' }}</h3>
                </div>
                <div>
                    <h1 class="p-2 text-center font-bold text-[#ffafcc]">Remove</h1>
                    <br>
                    <h1  (click)="removeWishlist(item.id)" class="text-center text-[#41729E] text-2xl"><i class="fa-regular fa-trash-can"></i></h1>
                </div>
                <div>
                    <h1 class="p-2 text-center font-bold text-[#ffafcc]">Cart</h1>
                    <br>
                    <h1  class="text-center text-[#41729E] text-2xl"><i class="fas fa-cart-shopping"></i></h1>
                </div>
               
                
                
               
                
    
            </div>
        </div>
      }
     
    
       
        
    </section>
