<section  class="card rounded w-4/5 mx-auto py-10 shadow ">
    <h2 class="text-center font-bold mb-4 text-3xl text-[#41729E] "> Login Now</h2>

   
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label for="email" class="block mb-2 text-lg font-medium text-white  w-4/5 mx-auto dark:text-white">email</label>
            <input
            formControlName="email"
            
            type="email" id="email" class=" border border-gray-300 text-sm rounded text-gray-900  block w-4/5 mx-auto p-2.5 dark:bg-[#ffafcc] dark:border-bg-[#ffafcc] focus:ring-[#ffafcc] focus:border-[#ffafcc] dark:placeholder-gray-50 dark:text-white  ">

               @let emailControl=loginForm.get('email');
            @if (emailControl?.errors && emailControl?.touched) 
            {
                <div class="flex p-2 mt-2 text-sm text-red-800 rounded-lg  w-4/5 mx-auto  bg-red-100 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                     
                        <ul class="mt-1.5 list-disc list-inside">
                       
                        
                           @if (emailControl?.getError('required')) {
                            <li> email is required</li>
                           }
                           @else {
                            <li>Enter Valid Email</li> 
                           }
                      </ul>
                    </div>
                 </div>
            }
            
        </div>
    
    
        <div class="mb-3">
           
            <label for="password" class="block mb-2 text-lg font-medium text-white  w-4/5 mx-auto dark:text-white">password</label>
            <input 
            formControlName="password"
            type="password" id="password" class="text-gray-900 border border-gray-300 text-sm rounded  block w-4/5 mx-auto p-2.5 dark:bg-[#ffafcc] dark:border-bg-[#ffafcc] focus:ring-[#ffafcc] focus:border-[#ffafcc] dark:placeholder-gray-50 dark:text-white  ">

            @let passwordControl=loginForm.get('password');
            @if (passwordControl?.errors && passwordControl?.touched) 
            {
                <div class="flex p-2 mt-2 text-sm text-red-800 rounded-lg  w-4/5 mx-auto  bg-red-100 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                     
                        <ul class="mt-1.5 list-disc list-inside">
                       
                        
                           @if (passwordControl?.getError('required')) {
                            <li> password is required</li>
                           }
                           @else if(passwordControl?.getError('pattern')) {
                            <li>Enter Valid password</li> 
                           }
                      </ul>
                    </div>
                 </div>
            }
        </div>
    
    
    
       
        

       
        <div class="flex justify-end items-center gap-1">

            <a class="text-[#41729E] font-bold" routerLink="/forgetPassword" > ForgetPassword</a>
            <button [disabled]="isLoading"  text="submit" class="bg-[#ffafcc] rounded ms-20   py-2 px-12 text-white  ">Signin 
                @if (isLoading) 
                {
                 <span><i class="fas fs-spin fa-spinner"></i> </span>
         
                }
                 </button>
         
               
         
        </div>
       @if (msError) {
        <p class="bg-[#41729E] py-4 mt-3 text-center  px-7 rounded w-4/5 mx-auto text-white"> {{msError}} </p>
    
       }
        

       @if (isSuccess) {
        <p class="bg-[#ffafcc] py-4 mt-3 text-center  px-7 rounded w-4/5 mx-auto text-white"> {{isSuccess}} </p>
    
       }
    
    </form>

</section>

