.card
{
    // background-image: url(/images/abstract-background-blue-sunny-sky-with-clouds.jpg);
    background-image: url(/images/fantasy-style-clouds-kid.jpg);
    background-position: center center;
    background-size: cover;
}