

<nav class="bg-[#41729E] rounded border-gray-200  fixed top-0 z-40 right-0 left-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
      <a 
      routerLink="/home"
       class="flex items-center space-x-0 rtl:space-x-reverse">
         
          <i class="fa-solid fa-cart-shopping px-0 text-[18px] text-white"></i>
          <h3 class="text-[18px] text-white ">FreshCart</h3>

      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 
      h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100
       focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700
        dark:focus:ring-gray-600" aria-controls="navbar-dropdown" 
        aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1
               1h15M1 7h15M1 13h15"/>
          </svg>
      </button>



      <div class="hidden w-full flex-grow md:flex md:w-auto" id="navbar-dropdown">
       
        @if( isLogin() )
        {
            <ul class="flex mx-auto capitalize flex-col font-medium p-4 md:p-0 mt-4 border  md:space-x-3 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  dark:bg-gray-800  dark:border-gray-700">
                <li>
                  <a 
                   class="block py-2  px-3 text-white ms-5  rounded-sm "  routerLink="/home"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page">home</a>
                </li>
               
                
               
                
                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm "  routerLink="/products"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page">Products</a>
                </li>
                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm "  routerLink="/brands"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page"> brands</a>
                </li>
                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm "  routerLink="/categories"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page">Categories</a>
                </li>

                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm "  routerLink="/wishList"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page">WishList</a>
                </li>

              
                
              </ul>
        }

        <ul class="flex capitalize ms-auto flex-col font-medium mt-4 border  md:space-x-0 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  dark:bg-gray-800  dark:border-gray-700">
<!--            
            <li>
                <a 
                 class="block py-2  px-3 text-white  rounded-sm "  
                  
                aria-current="page"> 
                <i class="fab fa-facebook"></i>
            
            </a>
              </li>
            <li>
                <a 
                 class="block py-2  px-3 text-white  rounded-sm "  
                  
                aria-current="page"> 
                <i class="fab fa-twitter"></i>
            
            </a>
              </li>
            <li>
                <a 
                 class="block py-2  px-3 text-white  rounded-sm "  
                  
                aria-current="page"> 
                <i class="fab fa-instagram"></i>
            
            </a>
              </li>
            <li>
                <a 
                 class="block py-2  px-3 text-white  rounded-sm "  
                  
                aria-current="page"> 
                <i class="fab fa-linkedin"></i>
            
            </a>
              </li>
            -->
              
           
              
            
           
            
           
            
          
              @if(!isLogin())
              {
                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm "  routerLink="/register"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page">register</a>
                </li>
                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm "  routerLink="/login"
                    routerLinkActive="bg-[#ffafcc]"
                  aria-current="page">login</a>
                </li>
              

              }
           
           
              @else {

                <li>
                  <a 
                   class="block py-2  px-3 text-white  rounded-sm relative "  routerLink="/cart"
                   routerLinkActive="text-[#ffafcc]"
                  aria-current="page">
                  <i class=" text-2xl fas fa-cart fa-cart-shopping"></i>
                  <span class="bg-[#ffafcc] text-white text-[12px] font-normal me-2 px-1 py-.4 absolute top-0 left-1 rounded-sm  ">{{countCart()}}</span>
                </a>
                </li>
              
                
                <li>
                  <a 
                  role="button"
                   class="block py-2  px-3 text-white  rounded-sm "  
                   (click)="removeSign()"
                  aria-current="page">Signout</a>
                </li>


               
                
              }
            
          </ul>
      </div>
    </div>
  </nav>
  
