<section class="bg-[#e4eaf0] shadow rounded w-[80%] mx-auto p-6">
    <h1 class="text-center py-4 text-[#ffafcc] font-bold text-3xl">forgetPassword</h1>
  
    @if (step ==1) {
        <form   [formGroup]="verifyEmailForget" (ngSubmit)="verifyEmail()">

            <div class="mb-3">
                <label for="email" class="block mb-2 text-lg font-medium text-[#41729E]  w-4/5 mx-auto dark:text-[#41729E]">E-mail</label>
                <input
                formControlName="email"
                
                type="email" id="email" class=" border border-gray-300 text-sm rounded text-gray-900  block w-4/5 mx-auto p-2.5 dark:bg-[#41729E] dark:border-bg-[#41729E] focus:ring-[#41729E] focus:border-[#41729E] dark:placeholder-gray-50 dark:text-white  ">
    
                   @let emailControl=verifyEmailForget.get('email');
                @if (emailControl?.errors && emailControl?.touched) 
                {
                    <div class="flex p-2 mt-2 text-sm text-white rounded-lg  w-4/5 mx-auto  bg-[#41729E] dark:bg-gray-800 dark:text-white" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                         
                            <ul class="mt-1.5 list-disc list-inside">
                           
                            
                               @if (emailControl?.getError('required')) {
                                <li> email is required</li>
                               }
                               @else {
                                <li>Enter Valid Email</li> 
                               }
                          </ul>
                        </div>
                     </div>
                }
                
            </div>
    
            <button   text="submit" class="bg-[#41729E] rounded ms-20   py-2 px-12 text-white"> Verify E-mail 

               
                @if (isLoading) {
                    <span><i class="fas fs-spin fa-spinner"></i> </span>
                }
            </button>
        
        </form>
    }
    <!--******************************************************************** -->
   
    @else if (step ==2) {
        <form   [formGroup]="CodeEmailForget" (ngSubmit)="CodeEmail()">

            <div class="mb-3">
                <label for="resetCode" class="block mb-2 text-lg font-medium text-[#41729E]  w-4/5 mx-auto dark:text-[#41729E]">RestCode</label>
                <input
                formControlName="resetCode"
                
                type="text" id="resetCode" class=" border border-gray-300 text-sm rounded text-gray-900  block w-4/5 mx-auto p-2.5 dark:bg-[#41729E] dark:border-bg-[#41729E] focus:ring-[#41729E] focus:border-[#41729E] dark:placeholder-gray-50 dark:text-white  ">
    
                 @let CodeRestControl=CodeEmailForget.get('resetCode');
                @if (CodeRestControl?.errors && CodeRestControl?.touched) 
                {
                    <div class="flex p-2 mt-2 text-sm text-white rounded-lg  w-4/5 mx-auto  bg-[#41729E] dark:bg-gray-800 dark:text-white" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                         
                            <ul class="mt-1.5 list-disc list-inside">
                           
                            
                               @if (CodeRestControl?.getError('required')) {
                                <li> resetCode is required</li>
                               }
                               
                               @else if (CodeRestControl?.getError('pattern'))
                                {
                                    <li>Enter Valid resetCode</li>
                                }
                          </ul>
                        </div>
                     </div>
                }
                
            </div>
    
            <button   text="submit" class="bg-[#41729E] rounded ms-20   py-2 px-12 text-white"> Confirm Code </button>
        
        </form>
    }

  <!--******************************************************************** -->

  
  @else if (step ==3) {
    <form   [formGroup]="PasswordEmailForget" (ngSubmit)="PasswordEmail()">

        <div class="mb-3">
            <label for="email" class="block mb-2 text-lg font-medium text-[#41729E]  w-4/5 mx-auto dark:text-[#41729E]">E-mail</label>
            <input
            formControlName="email"
            
            type="email" id="email" class=" border border-gray-300 text-sm rounded text-gray-900  block w-4/5 mx-auto p-2.5 dark:bg-[#41729E] dark:border-bg-[#41729E] focus:ring-[#41729E] focus:border-[#41729E] dark:placeholder-gray-50 dark:text-white  ">

               @let emailControlpassw=PasswordEmailForget.get('email');
            @if (emailControlpassw?.errors && emailControlpassw?.touched) 
            {
                <div class="flex p-2 mt-2 text-sm text-white rounded-lg  w-4/5 mx-auto  bg-[#41729E] dark:bg-gray-800 dark:text-white" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                     
                        <ul class="mt-1.5 list-disc list-inside">
                       
                        
                           @if (emailControlpassw?.getError('required')) {
                            <li> email is required</li>
                           }
                           @else {
                            <li>Enter Valid Email</li> 
                           }
                      </ul>
                    </div>
                 </div>
            }
            
        </div>

        <div class="mb-3">
           
            <label for="newPassword" class="block mb-2 text-lg font-medium text-[#41729E]  w-4/5 mx-auto dark:text-[#41729E]">New-Password</label>
            <input 
            formControlName="newPassword"
            type="password" id="newPassword" class=" border border-gray-300 text-sm rounded text-gray-900  block w-4/5 mx-auto p-2.5 dark:bg-[#41729E] dark:border-bg-[#41729E] focus:ring-[#41729E] focus:border-[#41729E] dark:placeholder-gray-50 dark:text-white  ">

            @let newPasswordControl=PasswordEmailForget.get('newPassword');
            @if (newPasswordControl?.errors && newPasswordControl?.touched) 
            {
                <div class="flex p-2 mt-2 text-sm text-white rounded-lg  w-4/5 mx-auto  bg-[#41729E] dark:bg-gray-800 dark:text-white" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                     
                        <ul class="mt-1.5 list-disc list-inside">
                       
                        
                           @if (newPasswordControl?.getError('required')) {
                            <li> newPassword is required</li>
                           }
                           @else if(newPasswordControl?.getError('pattern')) {
                            <li>Enter Valid newPassword</li> 
                           }
                      </ul>
                    </div>
                 </div>
            }
        </div>
    

        <button   text="submit" class="bg-[#41729E] rounded ms-20   py-2 px-12 text-white"> Confirm Password </button>
    
    </form>
  }
</section>
